Human_Motion_Refine\ \(1\)/data
Human_Motion_Refine\ \(1\)/smplx

Code/burgers_data_10.mat

Code/Duolando-main/assets
Code/Duolando-main/data
Code/Duolando-main/data_more_processing
Code/Duolando-main/new_data
Code/Duolando-main/smplx
Code/Duolando-main/animations_test
Code/Duolando-main/misc-data-files

# Ignore __pycache__ folders
__pycache__/
**/__pycache__/

# Ignore all .pyc files
*.pyc
*.pyo
